{% extends "pages/base.html" %}
{% block content %}

{% if user.is_authenticated %}
<div class="container mt-5">
  <div class="d-flex flex-column align-items-center text-center">
    {% if user.profile.profile_picture %}
      <img src="{{ user.profile.profile_picture.url }}" alt="Profile" class="rounded-circle mb-3" width="120" height="120">
    {% else %}
      <i class="bi bi-person-fill rounded-circle mb-3" width="120" height="120"></i>
    {% endif %}
    <h2 class="h4 font-weight-bold">{{ user.first_name }} {{ user.last_name }}</h2>
    <p class="text-muted">
      {{ user.profile.bio|default:"Software Engineer" }}
    </p>
  </div>

  <hr class="my-4">

  <div>
    <h3 class="h5 font-weight-bold">Your Blog Posts</h3>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">Mastering React Hooks: A Comprehensive Guide</h5>
          <i class="bi bi-three-dots-vertical"></i> <!-- Icon aligned to the right -->
        </div>
        <p class="card-text text-muted">May 15, 2023</p>
        <p class="card-text">
          In this comprehensive guide, we'll dive deep into the world of React Hooks, exploring their power and versatility in building modern web applications. From state management to side effects, you'll learn how to leverage Hooks to write cleaner, more efficient code.
        </p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
    <h3 class="h5 font-weight-bold">Update Profile Picture</h3>
    <form method="post" enctype="multipart/form-data" action="{% url 'update_profile_picture' %}">
      {% csrf_token %}
      <div class="form-group">
        <input type="file" name="profile_picture" class="form-control-file">
      </div>
      <button type="submit" class="btn btn-primary">Update Picture</button>
    </form>
  </div>
</div>
{% endif %}

{% endblock content %}
