{% extends "pages/base.html" %}
{% load static %}

{% block content %}
<!-- Header Section -->
<div class="about-header text-center mt-4 mb-4">
  <h1 class="display-3 mb-0">About Us</h1>
</div>
<hr style="border: 0; height: 1px; background-color: #343A40; margin: 2px 0;">

<!-- About Content -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title fw-bold">Our Mission</h3>
          <p class="card-text fs-5 text-justify" style="text-align: justify">At Blog Posting Application, our mission is to empower individuals to express themselves through creative and meaningful content. We aim to provide a seamless and user-friendly platform where users can effortlessly create, manage, and share their blogs with the world.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">Our Vision</h5>
          <p class="card-text fs-5 text-justify" style="text-align: justify">We envision a community where everyone has the opportunity to share their voice and connect with like-minded individuals. Through our platform, we strive to inspire creativity and foster a space where ideas can flourish.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">Our Team</h5>
          <p class="card-text fs-5 text-justify" style="text-align: justify">Our team consists of passionate individuals who are dedicated to delivering the best possible experience for our users. We believe in the power of collaboration, innovation, and continuous improvement to bring you the most powerful blogging tool.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
