{% extends "pages/base.html" %} {% load static %} {% block content %}
<!-- Header Section -->
<div class="about-header text-center mt-5 mb-5">
  <h1 class="display-3 mb-0">Contact Us</h1>
</div>
<hr>
<!-- Contact Information -->
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-4 mt-4">
      <div class="card">
        <img src="{% static 'images/office3.jpg' %}" class="card-img-top" style="weight:100 height:100" alt="Office Images">
        <ul class="list-unstyled">
          <li class="mb-3">
            <strong>Email:</strong>
            <a href="mailto:mrsurendragiri2003@gmail.com" class="text-primary"
              >mrsurendragiri2003@gmail.com</a
            >
          </li>
          <li class="mb-3">
            <strong>Phone:</strong>
            <a href="tel:+9779865458514" class="text-primary"
              >+977 9865458514</a
            >
          </li>
          <li><strong>Address:</strong> Chandragiri-01, Kathmandu, Nepal</li>
        </ul>
      </div>

      <hr />

      <div class="card mb-4">
        <h2 class="mt-4 text-decoration-underline">Follow Us</h2>
        <div class="social-icons mt-3 mb-4 ">
          <a
            href="https://www.facebook.com/profile.php?id=61552798688578"
            class="text-dark mx-2"
            ><i class="fab fa-facebook-f fa-2x"></i
          ></a>
          <a href="https://x.com/Surendr48649414" class="text-dark mx-2"
            ><i class="fab fa-twitter fa-2x"></i
          ></a>
          <a
            href="https://www.instagram.com/surendra___g?igsh=MTJpaDg4NGp4Z3dpbA=="
            class="text-dark mx-2"
            ><i class="fab fa-instagram fa-2x"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/surendra-giri-4823b830b/"
            class="text-dark mx-2"
            ><i class="fab fa-linkedin-in fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% comment %} {% block styles %}
<style>
  .about-header {
    background-color: #343a40; /* Dark background color */
  }
  .about-header h1 {
    font-size: 3rem; /* Adjusted for Bootstrap's scale */
  }
  .contact-info a {
    color: #007bff;
  }
  .contact-info a:hover {
    text-decoration: underline;
  }
  .social-icons a:hover {
    color: #007bff;
  }
</style>
{% endblock styles %} {% endcomment %} {% block scripts %}
<!-- Font Awesome for social media icons -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock scripts %}
