{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
  <title>Blog Posting Application</title>
</head>
<style>
  .nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }
  .nav-link::after {
    content: '';
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: width 0.3s;
  }
  .nav-link:hover::after {
    width: 95%;
  }
  .dropdown-toggle {
    color: white;
  }
  .dropdown-toggle .bi-person-fill {
    margin-left: 10px;
  }
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="Blog's logo" style="height: 50px" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link font-montserrat" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-montserrat" href="">Contents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-montserrat" href="">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-montserrat" href="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-montserrat" href="">Contact</a>
          </li>
        </ul>
        {% comment %} <form class="d-flex" role="search" method="POST" action="">
          {% csrf_token %}
          <input
            class="form-control me-3 font-montserrat"
            type="search"
            placeholder="Search Venues or Events"
            aria-label="Search"
            name="searched"
          />
          <button class="btn btn-outline-success me-3 font-montserrat" type="submit">Search</button>
        </form> {% endcomment %}
        {% if user.is_authenticated %}
        <div class="dropdown">
          <a class="dropdown-toggle font-montserrat text-decoration-none gap-2 me-5" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.first_name }}<i class="bi bi-person-fill"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item font-montserrat" href="">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item font-montserrat" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-light font-montserrat me-5">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>
  
</body>
</html>

